{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended"],
  "rules": {
    "@typescript-eslint/no-namespace": ["error", { "allowDeclarations": true }],
    "@typescript-eslint/no-inferrable-types": ["error", { "ignoreParameters": true, "ignoreProperties": true }],
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }],

    // Temporary overrides - ideally we would get rid of these
    "@typescript-eslint/no-this-alias": "warn",
    "@typescript-eslint/no-var-requires": "warn",
    "@typescript-eslint/triple-slash-reference": "warn"
  }
}

