# JS: Ignore the compiled output.
dist/

# JS: TypeScript incremental compilation cache
*.tsbuildinfo

# JS: npm error output debug logs
npm-debug.log*

# JS: Jest Coverage
coverage/

# JS: JUnit Reports (used mainly in CircleCI)
reports/
junit.xml

# JS: Node modules
node_modules/

# Mac OS
.DS_Store

# This Lerna-based monorepo is intended to be `npm install`'d from the root
# of the monorepo.  The root `package-lock.json` is the source of truth for the
# entire monorepo. While running `npm install` in individual packages might
# work in some cases, it can produce a `package-lock.json` in those directories
# that would break the Lerna monorepo experience for Lerna, other devleopers,
# and the workflows that are built into this repository's CI workflows.
**/package-lock.json
!/docs/package-lock.json
!/package-lock.json

# Local Netlify folder
.netlify

# IntelliJ IDEs
.idea
