version: 2.1

orbs:
  node: circleci/node@7.2.0

jobs:
  # Unfortunately cimg/node doesn't tag its images with major only, you have to specify a minor version.
  # We wouldn't need this job if it did, we could just use node/test with a matrix of node major versions.
  Test:
    description: "Run tests for a specific Node.js version"
    parameters:
      node-version:
        type: string
    docker:
      - image: cimg/base:stable
    resource_class: large
    steps:
      - checkout
      - node/install:
          node-version: << parameters.node-version >>
      # node v14 defaults to npm 6, which is too old for our package-lock.json
      # should be able to remove this step when we drop node v14
      - run: npm install -g npm@9
      - node/install-packages
      - run:
          name: Run tests
          command: npm run test:ci
      - run:
          name: Upload coverage
          command: npm run coverage:upload
      - store_test_results:
          path: junit.xml
  Lint:
    description: "Run a lint command using a specific Node.js version"
    parameters:
      script:
        type: string
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - node/install:
          node-version: '22'
      - node/install-packages
      - run:
          name: Compile
          command: npm run compile
      - run:
          name: Run lint
          command: npm run << parameters.script >>

workflows:
  Build:
    jobs:
      - Test:
          name: Test - Node.js v<< matrix.node-version >>
          matrix:
            parameters:
              node-version:
                - "14"
                - "16"
                - "18"
                - "20"
                - "22"
      - Lint:
          name: Lint - executing << matrix.script >>
          matrix:
            parameters:
              script:
                - "error-code-doc:check"
                - "codegen:check"
                - "hints-doc:check"
                - "spell:check"
                - "prettier:check"
