name: Continuous Integration

on:
  push:
    branches:
      - main
      - next
      - version-*
  pull_request:
    branches:
      - main
      - next
      - version-*

jobs:
  test:
    name: test (node ${{ matrix.version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['18', '20', '22', '24', 'latest']
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run tests
        run: npm run test:ci

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: ./junit.xml

      - name: Archive failure results
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-results
          path: |
            junit.xml
          retention-days: 7

  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lint: ['error-code-doc:check', 'codegen:check', 'hints-doc:check', 'spell:check', 'prettier:check']
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Compile
        run: npm run compile

      - name: Run lint
        run: npm run ${{ matrix.lint }}
