name: Publish packages to npm

on:
  push:
    tags:
      - 'changesets-*' #temporary, will eventually be '@apollo/composition@2*'

jobs:
  publish:
    name: Publish workflow
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      
      - uses: trstringer/manual-approval@v1
        env:
          RELEASE_VERSION=`npm pkg get version -w @apollo/composition|jq -r '.["@apollo/composition"]'`
        with:
          secret: ${{ github.TOKEN }}
          approvers: @apollographql/atlas
          minimum-approvals: 1
          issue-title: "Deploying $RELEASE_VERSION to npm"
          exclude-workflow-initiator-as-approver: false
      - name: Publish to npm
        run: |
          echo "starting the publish step"
        