name: Publish

on:
  push:
    release:
      types: [published]
    
jobs:
  slack:
    name: Publish slack webhook notifying about approval
    if: "contains(github.event.head_commit.message, 'release:')"
    runs-on: ubuntu-latest
    steps:
      - name: Send to Slack
        env: 
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        run: |
          echo webhook url $SLACK_WEBHOOK
#         TODO: slack integration
                  
  publish:
    name: Publish workflow
    if: "contains(github.event.head_commit.message, 'release:')"
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      
      - name: Setup Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install Dependencies
        run: npm i

      - name: Publish to npm
        run: |
          RELEASE_VERSION=`npm pkg get version -w @apollo/composition|jq -r '.["@apollo/composition"]'`
          echo "starting the publish step" $RELEASE_VERSION
          npx changeset publish
          git push --follow-tags
        